html, body {
  width: 100%;
}

h1 {
  text-align: center;
}

.header {
  width: fit-content;
  border: 1px solid black;
  border-radius: 15px;
  background-image: linear-gradient(darkblue, blue);
  padding: 1rem 4rem;
  box-shadow: gray 10px 10px 10px;
  margin: 1rem auto;
  color: whitesmoke;
}

#content {
  margin: 2rem auto;
  text-align: center;
}

#screenStart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#screenStart .btn {
  margin: 1rem;
}